--extra-index-url https://download.pytorch.org/whl/cu113
docutils==0.16
sphinx==3.2.0
recommonmark==0.6.0
sphinx_rtd_theme==1.0.0
myst-parser
bluepy
Jinja2<3.1
munch==2.5.0
opencv-python==4.5.4.60
tqdm
Pillow==8.1.2
sklearn
matplotlib
librosa
wandb
pandas
torch==1.11.0+cu113
torchvision==0.12.0+cu113
torchaudio==0.11.0
librosa
soundfile
resampy
wget
.